<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl | relative_url  }}/assets/css/style.css">
</head>
<body>
  <header>
    <h1><a href="{{ site.baseurl | absolute_url }}">{{ site.title }}</a></h1>
    <h1><a href="{{ site.baseurl | relative_url }}">{{ site.title }}</a></h1>
    <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    <h1><a href="{{ site.url | absolute_url }}">{{ site.title }}</a></h1>
    <h1><a href="{{ site.url | relative_url }}">{{ site.title }}</a></h1>
    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    {% if site.description %}
      <p>{{ site.description }}</p>
    {% endif %}
    <a href="{{ site.baseurl | relative_url }}/search.html">search.filter.absolute</a>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>footer</p>
  </footer>
</body>
</html>
